<h1>餐廳後台</h1>
<nav class="nav">
  <a class="nav-link active ps-0" aria-current="page" href="/admin/restaurants">Restaurants</a>
  <span class="fw-bold " style="padding: 8px 0px 8px 0px;">|</span>
  <a class="nav-link" href="/admin/users">Users</a>
</nav>